pysqlite3-binary
streamlit
python-dotenv
groq
langchain-community
langchain-groq
langchain-huggingface
huggingface-hub
pypdf
tiktoken
numpy==1.24.4
chromadb>=0.4.22
langchain>=0.1.17
langchain-chroma>=0.0.7
